* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
}

header,
footer {
    height: 60px;
    line-height: 60px;
    background: #ccc;
    text-align: center;
    width: 100%;
    position: absolute;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

section {
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 100%;
    background-color: #FC0;
    overflow: auto;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

p {
    margin-bottom: 10px;
}