body{
	margin: 0;
	padding: 0;
}

.directions{
	overflow: auto; /* should contain its floated elements */
	padding: 40px;
}

a.roadsign{
	float: left;
	clear: left;
	display: inline-block;
	height: 110px;
	margin-bottom: 40px;
	padding: 0 60px 0 30px;

    /* sprite size is 55 x 110 pixels, with 8px rounding */
    color:#fff;
    background: url(roadsign-end.png) no-repeat top right #000;  /* right-end image + black background */
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
	
    line-height: 110px; /* center the line vertically */

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a.roadsign:hover{
	background-color: #0088ff;
	background-position: 100% -220px;
    text-decoration: none;
}
