body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aaa;
}

#container {
    width: 1000px;
    margin: 30px auto;
    border: 1px solid black;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

h1 {
    margin: 0;
    padding-bottom: 30px;
    color: #0088ff;
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
}

ul.directions {
    overflow: auto;
    margin: 0;
    padding: 0 30px;
}

.directions li {
    list-style: none;
    float: left;
    clear: left;
}

.directions li.rightward {
    float: right;
    clear: right;
}

/* sprite size is 55 x 110 pixels, with 8px rounding */
.roadsign { /* rightward by default */
    display: inline-block;
    height: 110px;
    margin-bottom: 40px;
    padding: 0 30px 0 60px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    color:#fff;
    background: url(roadsign-end.png) #000 no-repeat 0 -110px;

    line-height: 110px; /* center the line vertically */

    font-weight: bolder;
    font-size: 3em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.roadsign:hover {
    background-color: #0088ff;
    background-position: 0 -330px;
    text-decoration: none;
}

.rightward .roadsign {
    padding: 0 60px 0 30px;
    background-position: 100% 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rightward .roadsign:hover {
    background-position: 100% -220px;
}