/* IE Fixes */
#container{  /* for IE all versions */
    display: table;  /* only IE8 will interpret this */
    height: 100%;
}
*+html #container{  /* IE7 */
    display: block;
	min-height: 100%;
    height: auto;
}
