html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;  /* 100% high viewport */
}

#container {
    min-height: 100%;
    padding-bottom: 120px;
}

#container,
footer {
    width: 960px;
    margin: 0 auto;
}

header,
footer,
main {
    padding: 10px;
}

footer {
    height: 120px;
    margin-top: -120px;
}

header,
footer {
    color: #FFF;
    background: #000;
}

main {
    background: #DDD;
}
