/* Sticky footer
 * http://www.search-this.com/2009/10/09/css-a-sticky-subject
 * http://www.visibilityinherit.com/code/sticky-footer.php
 * http://www.cssstickyfooter.com/
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;  /* 100% high viewport */
}

#container {
    min-height: 100%;
    width: 900px;
    margin: 0 auto;
    background: #888;
}

/* Opera "redraw" bug fix */
body:before {
    content: "";
    float: left;
    height: 100%;
    margin-top: -999em;
}

#header {
    height: 120px;
    background: #c00;
}

#content {
    background: #0c0;
    padding-bottom: 120px;  /* = height of the footer */
}

#footer {
    height: 120px;
    width: 900px;
    margin: -120px auto 0;  /* margin-top = height of the footer */
    background: #00c;
}
