html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

header,
main,
footer {
    border: 1px solid black;
    background: #ccc;
    width: 900px;
    margin: 0 auto;
}

header,
main {
    margin-bottom: 10px;
}

header,
footer {
    padding: 10px;
}

main {
    overflow: auto; /* trick to get the float cleared */
}

.column {
    padding: 10px;
    width: 50%;
}

.column.left {
    float: left;
    background: #f00;
}

.column.right {
    float: right;
    background: #0f0;
}
